<h1> Smart Diet </h1>
<h2> Cadastro de nutricionista </h2>
<%= form_with (model: @nutricionista, url: "/search", method: "get") do %> <br> <br>
  <%= label_tag(:peso, "Peso (Quilos):") %> <br> <br>
  <%= text_field_tag(:peso) %> <br> <br>
  <%= label_tag(:altura, "Altura:") %> <br> <br>
  <%= text_field_tag(:altura) %> <br> <br>
  <%= label_tag(:idade, "Idade:") %> <br> <br>
  <%= text_field_tag(:idade) %> <br> <br>
  <%= label_tag(:sexoLbl, "Sexo:") %> <br> <br>
  <%= radio_button_tag(:sexo, "masculino") %>
  <%= label_tag(:sexo_masc, "Masculino") %>
  <%= radio_button_tag(:sexo, "feminino") %>
  <%= label_tag(:sexo_fem, "Feminino") %> <br> <br> <br>
  <%= label_tag(:meta, "Meta (Quilos):") %> <br> <br>
  <%= text_field_tag(:meta) %> <br> <br>
  <%= label_tag(:tempo, "Tempo (Semanas):") %> <br> <br>
  <%= text_field_tag(:tempo) %> <br> <br>
  <%= submit_tag("Calcular") %>
<% end %>