<h1 class="title"><%= @nutricionista.nome %></h1>
 
<table id="nutricionista">
  <thead>
    <tr>
      
    </tr>
  </thead>
  <tbody>

      <tr>
        <h2>Nome: <%= @nutricionista.nome %></h2>

        <h3>CRN: <%= @nutricionista.id %></h3>

        <h3>E-mail: <%= @nutricionista.email %></h3>

        <h3>Anos de experiência na área: <%= @nutricionista.exp %></h3>
      </tr>
      <a href="/welcome/index"> Voltar </a>
    
  </tbody>
</table>