<p>
<strong> Peso </strong>
<%= @calculadora.peso%>
</p><p>
<strong> Altura </strong>
<%= @calculadora.altura%>
</p><p>
<strong> Idade </strong>
<%= @calculadora.idade%>
</p><p>
<strong> Sexo </strong>
<%= @calculadora.sexo%>
</p><p>
<strong> Meta </strong>
<%= @calculadora.meta%>
</p><p>
<strong> Tempo </strong>
<%= @calculadora.tempo%>
</p>
