<h1 class="title"><%= @dieta.nome %></h1>
 
<table id="dieta">
  <thead>
    <tr>
      
    </tr>
  </thead>
  <tbody>

      <tr>
        <h2>Nome: <%= @dieta.nome %></h2>

        <h3>Café da Manhã: <%= @dieta.cafe %></h3>

        <h3>Almoço: <%= @dieta.almoco %></h3>

        <h3>Lanche: <%= @dieta.lanche %></h3>
        
        <h3>Jantar: <%= @dieta.jantar %></h3>
        
        <h3>Bebida: <%= @dieta.bebida %></h3>
        
        <h3>Extra: <%= @dieta.extra %></h3>
        
        <h3>Calorias: <%= @dieta.kcal %></h3>
      </tr>
    
  </tbody>
</table>