<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @consultum.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @consultum.sexo %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @consultum.idade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @consultum.email %>
</p>

<p>
  <strong>Profissional:</strong>
  <%= @consultum.profissional %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @consultum.descricao %>
</p>

<%#= link_to 'Edit', edit_consultum_path(@consultum) %>
<%#= link_to 'Back', consulta_path %>
